services:
  postgres:
    image: postgres:18
    container_name: pms-postgres
    restart: unless-stopped
    ports:
      - "${DB_PORT:-5432}:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-pms}
      POSTGRES_USER: ${POSTGRES_USER:-pms}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-pms}
    volumes:
      - postgres-data:/var/lib/postgresql

volumes:
  postgres-data:
