spring:
  jpa:
    properties:
      hibernate:
        format_sql: false
        show_sql: false

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

management:
  endpoint:
    health:
      show-details: never
