spring:
  jpa:
    properties:
      hibernate:
        format_sql: true
        show_sql: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

management:
  endpoint:
    health:
      show-details: always
