spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pms
    username: pms
    password: pms
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
server:
  port: 8080
